@charset "utf-8";
/* Custom CSS by Carlos Velasco */
body{
	background-color: white;
}

audio
{
	width:100%;
	font-size:1.5em;
	padding: 20px 0;
}

#info {
	top: 25%;
	left: 6%;
	position: absolute;
	width: 88%;
}



/* CSS Document */


#headerLiveTrackHolder {
    overflow: hidden;
	position:relative;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
	margin: 0;
	padding: 0;
    }
 #headerLiveTrackHolder * {
	  margin: 0;
	  padding: 0;
	  }

	#headerLiveTrackHolder span#status-current-show {
	  font-size:10px;
	  color:#68bd44;
	  text-transform:uppercase;
	  font-weight:normal;
	  line-height:12px
	  }
	#headerLiveTrackHolder ul li {
	  overflow:hidden;
	  position:relative;
	  height:12px;
	  padding-right:70px;
	  font-size:11px;
	  color:#999999;
	  line-height:11px;
	  }
	#headerLiveTrackHolder ul li.current {
	  font-weight:bold;
	  color:#666666;
	  }

	  #headerLiveTrackHolder span.current{
	  font-weight:bold;
	  color:#666666;
	  position:absolute;
		right:10px;
		font-size: 11px;
	  }
	  #headerLiveTrackHolder span#time-elapsed {
		right: 65px;
	  }
	  #headerLiveTrackHolder span#time-elapsed:before {
		content: "e.";
	  }
	  #headerLiveTrackHolder span#time-remaining:before {
		content: "r.";
	  }
	  

#onAirToday {

  font-family: Arial,Helvetica,sans-serif;
  }

  #onAirToday table {
    clear: both;
    padding: 0;
	}
	#onAirToday table tbody {
      color: #000;
	  font-size:12px;
      }
	  #onAirToday table tbody tr {
		height: 30px;
		}
		#onAirToday table tbody tr td {
		  margin-bottom: 3px grey;
		  height: 30px;
		  padding-left: 10px;
		  font-weight:bold;
		  }
          #onAirToday table tbody tr td a {
			text-decoration:none;
			}
			#onAirToday table tbody tr td a:hover {
			text-decoration:underline;
			}
		  #onAirToday table tbody tr:last-child td {
			border-bottom: none;
			}
		  #onAirToday table tbody tr td.time {
			font-weight:normal;
			color: #666666;
			}	
