/* ==========================================================================
Author's custom styles
========================================================================== */

.active,
.navbar-nav li a,
.progress-bar {
	transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.progress {
	width        : 100%;
	margin-top   : 4em;
	margin-bottom: 0.7em;
}

.time,
th {
	text-align: center;
}

.programa {
	text-align: left;
}

.bodyPad {
	padding-top: 50px;
}

.time1 {
	font-size  : 20px;

	color      : #45B445;
	font-weight: 800;
}

.remainingTime {
	color: #FF851B;
}

#logo {
	height      : 50px;
	padding-left: 16px;
}

table {
	background: #FFFFFF;
}

#bar {
	width: 100%;
}

body {
	background: #F4F4F4;
}
